*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: black;
}
.Container1
{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.Image
{
    width: 90px;
}
.Image img
{
    width: 100%;
    border-radius: 100%;
}
.Heading
{
    color: green;
    text-align: center;
    font-size: 100px;
}
.Subheading
{
    text-align: center;
    color: white;
}
.Subheading button
{
    color: white;
    border: 1px solid black;
    background-color: green;
    padding: 1%;
}
.Subheading button:hover
{
    border: 1px solid green;
    background-color: black;
    color: green;
}
.Footer
{
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 8%;
}

@media(max-width:414px)
{
    .Container1
    {
        margin-top: 30%;
    }
    .Heading
    {
        font-size: 70px;
    }
    .Subheading
    {
        font-size: 40px;
    }
    .Subheading button
    {
        font-size: 30px;
    }
}
@media(max-width:280px)
{
    .Heading
    {
        font-size: 50px;
    }
    .Subheading
    {
        font-size: 20px;
    }
    .Subheading button
    {
        font-size: 20px;
    }
    .Footer
    {
        margin-top: 40%;
    }
}